{% extends 'home/base.html' %}

{% block title %}Bienvenidos a mi Proyecto Django{% endblock title %}
    
{% block content %}

    {% if user.is_authenticated %}
        <p>{{mensaje}}</p>
        <p class="fs-4 fst-italic">Bienvenido {{ user.username }}!</p>
        {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'admin:index' %}">Panel de administrador</a>
            <a class="btn btn-primary" href="{% url 'home:register' %}">Crear cuenta vendedor</a>
        {% endif %}
    {% endif %}
    
    <h2>Services we offer</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
{% endblock content %}