{% extends 'home/base.html' %}

{% block title %}¿Quienes somos?{% endblock title %}

{% block content %}
    <h2>Services we offer</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi quam consectetur perferendis vero, maxime possimus aliquid temporibus incidunt a at deserunt quis rem sint quasi ipsum reprehenderit fuga nesciunt!
    </p>
{% endblock content %}
