{% extends 'producto/index.html' %}



{% block content_producto %}
    <h2>Categorias de productos</h2>
    <ul class="list-group">
    {% for categoria in categorias %}
        <li class="list-group-item">
            {{ categoria.nombre }} - {{ categoria.descripcion }} 
            <a href="{% url 'producto:producto_categoria_update' categoria.id %}" class="btn btn-primary">Modificar</a>
            <a href="{% url 'producto:producto_categoria_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'producto:index' %}">Volver a indice de productos</a>
    
{% endblock content_producto %}
