{% extends 'producto/index.html' %}



{% block content_producto %}
    <h2>Productos</h2>
    <ul class="list-group">
    {% for producto in productos %}
        <li class="list-group-item">
            {{ producto.nombre }} -
            <a href="{% url 'producto:producto_detail' producto.id %}" class="btn btn-secondary">Ver detalle</a>
            {% if user.is_staff %}
                <a href="{% url 'producto:producto_update' producto.id %}" class="btn btn-primary">Modificar</a>
                <a href="{% url 'producto:producto_delete' producto.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'producto:index' %}">Volver a indice de productos</a>
    
{% endblock content_producto %}
